.container {
  background-color: white;
  border-radius: 8px;
  padding: 20px 30px 80px 30px;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

.tableHeadCell {
    /* Override material UI style with important */
    color: #868383 !important;
    font-weight: 900 !important;
    padding-left: 0 !important;
}

.tableBodyCell {
  padding: 12px 0 12px 0 !important;
  color: #918f8f !important;
  border-bottom: 1px solid #cdcdcd !important;
}

.actionBodyCell {
  composes: tableBodyCell;
  white-space: nowrap;
}

.tableFooterCell {
  border-bottom: none !important;
}


.emptyTableRow {
  height: 55px;
}
